/*CSS*/
canvas {
    display: block;  /*fix necessary to remove space at bottom of canvas */
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color:rgba(192,192,192,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}